@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f8f8f8;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubbleUI {
  position: relative;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border-radius: 50px;
  background-color: white !important;
  overflow: hidden !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  font-weight: 1000;
}
h2 {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

h3 {
  margin: 22px 0;
  font-size: 20px;
  font-weight: 1000;
  opacity: 0.5;
}
/* 
.container {
  background-color: red;
  max-width: 100vw;
  max-height: 600px;
  overflow: scroll;
} */

.companyBubble {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.companyBubble:hover {
  opacity: 0.5;
}

.controlBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 30px;
  margin: 10px;
  border-radius: 14px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.controlTitle {
  font-size: 16px;
}

.controlValue {
  font-size: 16px;
  text-align: right;
}

.top img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0.2;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.top img:hover {
  opacity: 1;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom input[type="range"] {
  width: 100%;
}
